# Godot 4+ specific ignores
.godot/
/android/
.vs/ProjectEvaluation/stackzengodot.metadata.v9.bin
.vs/ProjectEvaluation/stackzengodot.metadata.v9.bin
.vs/ProjectEvaluation/stackzengodot.projects.v9.bin
.vs/ProjectEvaluation/stackzengodot.strings.v9.bin
.vs/StackZenGodot/CopilotIndices/17.14.1347.20289/CodeChunks.db
.vs/StackZenGodot/CopilotIndices/17.14.1347.20289/SemanticSymbols.db
.vs/StackZenGodot/DesignTimeBuild/.dtbcache.v2
.vs/StackZenGodot/FileContentIndex/2eff7a0f-40ee-4532-89b1-aea38baefc8c.vsidx
.vs/StackZenGodot/FileContentIndex/35fed877-b32e-489f-98ed-eb8bff4b1f6e.vsidx
.vs/StackZenGodot/FileContentIndex/56d24f6c-a2ae-49a4-82c5-c1e2468ca4a3.vsidx
.vs/StackZenGodot/FileContentIndex/92785201-9712-4db7-9db3-718bb7da3e5f.vsidx
.vs/StackZenGodot/FileContentIndex/c4dfd6ff-c200-418e-a46a-f2fec0c23f95.vsidx
.vs/StackZenGodot/FileContentIndex/c64fc727-b221-420a-837f-77ae1bd3b5bc.vsidx
.vs/StackZenGodot/FileContentIndex/ed0f0897-e546-47b4-860f-8072c8ff4727.vsidx
.vs/StackZenGodot/FileContentIndex/f00a455b-e835-4499-999d-8c0d0407001a.vsidx
.vs/StackZenGodot/v17/.futdcache.v2
.vs/StackZenGodot/v17/.suo
.vs/StackZenGodot/v17/DocumentLayout.backup.json
.vs/StackZenGodot/v17/DocumentLayout.json
Godot_v4.5.1-stable_mono_win64.exe - Shortcut.lnk
.vs/StackZenGodot/v17/DocumentLayout.json
.vs/StackZenGodot/v17/DocumentLayout.backup.json
.vs/StackZenGodot/v17/.suo
.vs/StackZenGodot/v17/.futdcache.v2
.vs/StackZenGodot/FileContentIndex/ed0f0897-e546-47b4-860f-8072c8ff4727.vsidx
.vs/StackZenGodot/FileContentIndex/92785201-9712-4db7-9db3-718bb7da3e5f.vsidx
.vs/StackZenGodot/FileContentIndex/35fed877-b32e-489f-98ed-eb8bff4b1f6e.vsidx
.vs/StackZenGodot/DesignTimeBuild/.dtbcache.v2
.vs/StackZenGodot/CopilotIndices/17.14.1347.20289/SemanticSymbols.db
.vs/StackZenGodot/CopilotIndices/17.14.1347.20289/CodeChunks.db
.vs/ProjectEvaluation/stackzengodot.strings.v9.bin
.vs/ProjectEvaluation/stackzengodot.projects.v9.bin
.vs/ProjectEvaluation/stackzengodot.metadata.v9.bin
.vs/ProjectEvaluation/stackzengodot.metadata.v9.bin
/.vs
